@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
/* ::-webkit-scrollbar-track {
  background-color: gray;
} */
::-webkit-scrollbar-thumb { 
  background-color:#433E49 ;
  background-image: linear-gradient(to right, #F3E8EB, #928490, #928490, #F3E8EB);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb:hover {
  background-color:  #433E49 ;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

select {
  border : solid 1px rgb(203 213 225);
  padding : 2px 2px 2px 2px;
  border-radius: 4px;
}

input {
  padding : 2px 2px 2px 2px;
  border : rgb(203 213 225) solid 1px;
  border-radius: 4px;
  width : 100%;
  height : 100%;
  background : rgb(241 245 249);
}

input[type="radio"]:focus{
  outline : none;
  border : none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline :rgb(148 163 184) solid 1px;
  border : rgb(148 163 184) solid 1px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  text-align : center;
  padding : 8px 8px;
  font-size : 14px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: center;
  border: 0.3px solid #ffffff;
}
td {
  border: 0px 0.3px solid #dee2e6;
}
tr:hover {
  border: 0.3px solid #dee2e6;
  background : #f8f9fa;
}
/* tr:nth-child(even) td {
  background: #f8f9fa;
} */